{% extends 'base.html.twig' %}

{% block title %}Nouveau Article{% endblock %}

{% block body %}
    <h1>Crée un nouvelle Article</h1>

    {{ include('admin_article/_form.html.twig') }}

    <a href="{{ path('app_admin_article_index') }}">Retour en arrière</a>
{% endblock %}
