{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1>Bienvenue sur notre blog Activity </h1>
<p>
    Les activités sont un élément clé de la vie quotidienne pour de nombreuses personnes. Elles servent à occuper le temps libre, à se divertir, à se faire des amis et à apprendre de nouvelles compétences, entre autres choses. Que ce soit des activités physiques comme le sport, des activités artistiques comme la peinture ou la musique, ou des activités sociales comme les jeux, chaque personne a une préférence différente pour les activités qui l'intéressent. Dans ce bloc, nous explorerons les différentes activités disponibles pour les personnes de tous âges et leurs avantages en termes de bien-être physique et mental.
</p>



{% endblock %}
