{% extends 'base.html.twig' %}

{% block title %}Modifier L'utilisateur{% endblock %}

{% block body %}
    <h1>Modifier L'utilisateu</h1>

    {{ include('admin_user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_user_index') }}">Retour en Arrière </a>

    {{ include('admin_user/_delete_form.html.twig') }}
{% endblock %}
