{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Crée un nouvelle utilisateur</h1>

    {{ include('admin_user/_form.html.twig') }}

    <a href="{{ path('app_admin_user_index') }}">Retour en Arrière</a>
{% endblock %}
