{% extends 'base.html.twig' %}

{% block title %}Nouveau Commantaire{% endblock %}

{% block body %}
    <h1>Crée nouveau Commantaire</h1>

    {{ include('commentaire/_form.html.twig') }}

    
{% endblock %}
